.container{
    width: 1160px;
    margin: 0 auto;
    padding: 0 15px;
    outline: solid red;
    
}
h1,h2,h3,p,ul,li,a,img{
    margin: 0;
    padding: 0;
    text-decoration: none;
   
}
ul{
    list-style: none;
}
:root{
    --text-color: #FFF;
    --title-color: #D9D9D9;
    --background-color:#202023;
    --button-color:#B47B48;
    --background-payment:#272727;
    --background-gold:#EBAD51;
}
.header{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.header-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.header-options{
    margin-right:30px ;
    margin-top: 55px;
}
.header-link{
    color: var(--text-color);
font-size: 24px;
font-style: normal;
font-weight: 200;
line-height: normal;
}
.payment{
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 155px;
}
.payment-title{
    color: var(--text-color);
font-size: 70px;
font-style: normal;
font-weight: 200;
line-height: normal;
width: 561px;
font-family: "Inter";
}
.payment-text{
    color: var(--text-color);
    font-family: "Inter";
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
width: 570.253px;
}
.payment-price{
    color: var(--text-color);
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 200;
line-height: normal;
margin-top: 51px;
margin-bottom: 14px;
}
.payment-description{
color: var(--text-color);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 35px;
}
.payment-shop{
background-color: var(--button-color);
color: var(--text-color);
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;
border-radius: 17px;
padding-left: 34px;
padding-right: 34px;
padding-top: 10px;
padding-bottom: 7px;
flex-shrink: 0;
border-color: transparent;
margin-bottom: 132px;
margin-top: 33px;
}
.payment-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.payment-option{
    width: 310px;
height: 225px;
flex-shrink: 0;
background-color: var(--background-payment);

display: flex;
margin-bottom: 36px;
}
.payment-option:nth-child(3){
background-color: #EBAD51;
} 
.payment-div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.payment-image{
    width: 162px;
height: 225px;
flex-shrink: 0;
}
.payment-button{
    display: block;
    padding-left: 22px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 22px;
    color: var(--text-color);
font-family: "Inter";
font-size: 25.92px;
font-weight: 800;
background-color: #C85312;
border-color: transparent;

}
.menu{
    background-color: var(--background-color);
}
.menu-menu{
    color: var(--text-color);
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 100;
line-height: normal;
text-align: center;
}

.menu-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-options{
    margin-right: 200px;
}
.menu-options:nth-child(2){
    margin-right:0px;
}
.menu-options:nth-child(4){
    margin-right:0px;
   
}

.menu-title{
    color: var(--text-color);
font-family: Inter;
font-size: 25.92px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-align: center;
}
.menu-button{
    border-radius: 17px;
background: #B47B48;
border-color: transparent;
padding-right: 43px;
padding-left: 43px;
padding-top: 3px;
padding-bottom: 7px;
color: var(--text-color);
font-family: "Inter";
font-size: 25.92px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin: 0 auto;
display: block;
}
.menu-image{
    height: 200px;

}
.menu-div{
    border: 1px solid var(--text-color);
    width: 328px;
    height: 250px;
    flex-shrink: 0;
}
.quality{
    background-color: var(--background-color);
   
   

}
.quality-div{
    background: rgba(242, 242, 242, 0.30);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(18px);
  

flex-shrink: 0;
}
.quality-options{
    outline: solid orange;
}
.quality-text{
    color: var(--text-color);
font-family: "Inter";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.quality-list{
display: flex;
}
.quality-title{
    color: var(--text-color);
font-family: "Italiana";
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 400px;
padding-top: 90px;
}
.quality-options:nth-child(1){
  position: relative;
bottom: 100px;
    }
    .quality-options:nth-child(2){
        position: relative;
    top: 50px;
        }
        .quality-options:nth-child(3){
            position: relative;
            top:150px;
            } 
 
.why{
background-color: var(--background-color);
background-image:  linear-gradient(90deg, #000 8.49%, rgba(3, 3, 3, 0.00) 77.17%),url(../images/photo_2022-06-23_21-45-36\ 1.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: 1160px;

}

.why-us-title{
    color: var(--title-color);
font-family: "Italiana";
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 735px;
margin-bottom: 135px;
margin-top: 55px;

}
.why-us-list{
    display: flex;
    justify-content: space-between;
}
.why-us-text{
    color: var(--text-color);
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.where{
    background-color: var(--background-color);
}
.where-title{
    color:var(--text-color);
    font-family: Italiana;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.where-image{
    width: 535.213px;
height: 487px;
flex-shrink: 0;
}
.where-div2{
    display: flex;
}

.where-img{
    display: flex;
}

.where-link{
    color: var(--text-color);
    font-family: "Inter";
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.where-text{
    color: var(--text-color);
text-align: center;
font-family: "Inter";
font-size: 24px;
font-style: normal;
font-weight: 200;
line-height: normal;
}
.where-when{
    color: var(--text-color);
font-family: "Inter";
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal
}
.where-how{
    color: var(--text-color);
font-family: "Inter";
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer{
    background-color: #202023;
}
.footer-title{
    color: var(--text-color);
font-family: "Inter";
font-size: 40px;
font-style: normal;
font-weight: 200;
line-height: normal;
max-width: 322px;

}
.footer-text{
    color: var(--text-color);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.footer-list{
    display: flex;
    flex-direction: column;
   
    
}




.footer-link{
    color: var(--text-color);
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.footer-rights{
    color: var(--text-color);
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 100;
line-height: normal;
}
.footer-div2{
    display: flex;
    justify-content: space-between;
}